<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Todos</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <ul>
        <h1>Todos</h1>
        {% if g.user %}
        <li class='rightNavItem'><a href="{{ url_for('auth.profile') }}">Profile</a>
            <li class='rightNavItem'><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li class='rightNavItem'><a href="{{ url_for('auth.register') }}">Register</a>
            <li class='rightNavItem'><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
