<!DOCTYPE html>
<html>
    <head>
        <title>Accomplishments</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Today's Accomplishments</h1>
        <table>
            <thead>
            <tr>
                <th>Task no</th>
                <th>Accomplishment</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>
